* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 35%;
    position: relative;
}

.sidebar img {
    height: 100%;
    width: 100%;
}

.logo {
    position: absolute;
    top: 115px;
    background-color: rgb(0, 0, 0, 0.5);
    height: 120px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100px;
    width: 100px;
}

.credit {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.85rem;
}

a {
    color: white;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: rgb(139, 128, 0);
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 10px;
}

.bottom-section p {
    margin-left: 40px;
    margin-top: 15px;
    font-size: 0.85rem;
}

span {
    color: rgb(139, 128, 0);
}

input:focus {
    border: 1px solid blue;
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
}

input:invalid {
    border: 1px solid red;
}

.top-section, 
.bottom-section {
    background-color: #f5f5f5;
}

.top-section, 
.form, 
.bottom-section {
    height: 33%;
}

.first-head {
    margin-top: 80px;
    margin-left: 40px;
    width: 55ch;
}

.second-head {
    margin-top: 15px;
    margin-left: 40px;
}

.form h3 {
    margin-left: 40px;
    margin-top: 20px;
}

.name, 
.contact, 
.password {
    margin-left: 40px;
    margin-top: 15px;
    margin-right: 300px;
}

.name, 
.contact, 
.password {
    display: flex;
}

label {
    display: block;
    font-size: 0.75rem;
}

.name-group, 
.contact-group, 
.password-group {
    flex: 1;
}

input {
    width: 75%;
    border: 1px solid lightgray;
    opacity: 0.5;
}