* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 35%;
    position: relative;
}

.sidebar img {
    height: 100%;
    width: 100%;
}

.credit {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.85rem;
}

a {
    color: white;
}

p {
    flex: 1;
}