* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div img {
    height: 100%;
    width: 40%;
    position: relative;
}

.credit {
    position: absolute;
    top: 115%;
    left: 10%;
    color: white;
    font-size: 0.85rem;
}

a {
    color: white;
}