* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 35%;
    position: relative;
}

.sidebar img {
    height: 100%;
    width: 100%;
}

.credit {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.85rem;
}

a {
    color: white;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: rgb(139, 128, 0);
    color: white;
}

span {
    color: rgb(139, 128, 0);
}

input:focus {
    border: 1px solid blue;
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
}

input:invalid {
    border: 1px solid red;
}